@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import "tailwindcss";


:root {}


@theme {
    --font-playfair: 'Playfair Display', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-rufina: 'Rufina', sans-serif;   
    --font-roboto: 'Roboto Slab', sans-serif;
    --color-w:#6BC785 ;                                         
}
